body {
    width: 800px;
    margin: auto;
}

.header {
    text-align: center;
    background-color: black;
    color: white;
    font-size: 30px;
}

#listingTable {
    margin-top: 20px;
    background-color: wheat;
}

a {
    text-decoration: none;
}

a .btn1 {
    margin-top: 20px;
    text-align: center;
}

a #btn_next {
    margin-top: 20px;
    text-align: center;
}